<nav class="nav">
    <span class="nav__heading">Movie App</span>
    <header class="nav__header">
        <form id="form">
            <input type="text" class="input" placeholder="Enter movie name here...">
        </form>
    </header>
</nav>

<div id="main" class="main">
    <div class="container grid grid--1x3">
        <section class="movie">
            <img src="./image/deglee-ganzorig-wQImoykAwGs-unsplash.jpg" alt="" class="movie__image">
            <div class="movie-info">
                <h3>Movie Title</h3>
                <span class="green">9.8</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum non deleniti autem architecto quo
                    ab
                    saepe nemo cumque. Porro, quam.</p>
            </div>
        </section>

        <section class="movie">
            <img src="./image/aaron-lee-hXcGZg3rAkU-unsplash.jpg" alt="" class="movie__image">
            <div class="movie-info">
                <h3>Movie Title</h3>
                <span class="green">9.8</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum non deleniti autem architecto quo
                    ab
                    saepe nemo cumque. Porro, quam.</p>
            </div>
        </section>

        <section class="movie">
            <img src="./image/aaron-lee-hXcGZg3rAkU-unsplash.jpg" alt="" class="movie__image">
            <div class="movie-info">
                <h3>Movie Title</h3>
                <span class="green">9.8</span>
            </div>
            <div class="overview">
                <h3>Overview</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum non deleniti autem architecto quo
                    ab
                    saepe nemo cumque. Porro, quam.</p>
            </div>
        </section>
    </div>
</div>