<div class="container grid grid--1x4">
    <div class="card movie">
        <header class="card__header card--image movie-info">
            <img src="./image/aaron-lee-hXcGZg3rAkU-unsplash.jpg" alt="">
        </header>
        <div class="card__body movie-info">
            <h1 class="card__heading">Heading 01</h1>
            <span class="span green">9.0</span>
        </div>

        <div class="overview">
            <h3 class="overview__heading">Overview</h3>
            <p class="overview__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis
                neque dignissimos, numquam sed blanditiis?</p>
        </div>
    </div>